// fonts //
$font_main: NymphaTrial;
$font_nav: SF Pro Display Medium;
$font_block: SF Pro Display Regular;
// ================================= //

// backgrouns //
$background_main: #101010;
// ================================= //

// colors //
$color_main: #ffffff;
$color_title_dark: #8d8d8d;
$color_title_light: #ffffff;
$color_block_text: #d6d0ce;
$color_header_text: #f2f2f2;
// ================================= //

// transitions //
$transition_main: 500ms linear;
// ================================= //
